*.log
*.pot
*.pyc
.env
.db.env
__pycache__
db.sqlite3
media

cbis/staticfiles/
cbis/mediafiles/
postgres_data


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

