{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div id="content" class="col-md-9">
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
  {{ message }}
</div>
    {% endfor %}
{% endif %}
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar" class="col-md-3 bg-light min-vh-100">
            {% block sidebar %}
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'community_list' %}">Communities</a></li>
            </ul>
                <div class="col-12">
                <a href="{% url 'community_create' %}" class="btn btn-success btn-lg">
				    Create a community
			    </a>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>