{% extends 'community/base.html' %}
{% block title %}{{ community.name }}{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-header">
        {% if community.picture %}<img src="{{ community.picture.url }}" width="100px" class="rounded float-start pe-1" alt="Community Picture">{% endif %}
        <h5 class="float-start">{{ community.name }} <i class="bi-person"></i>{{ community.follower_count }}</h5>
        {% if is_moderator or is_owner %}
            <a href="{% url 'community_edit' community.id %}" class="btn btn-primary float-end">Edit community</a>
        {% endif %}
    </div>
  <div class="card-body">
      <p class="card-text">{{ community.description }}</p>
        {% if is_moderator or is_owner %}
        <a href="{% url 'community_templates_list' community.id %}" class="btn btn-primary">Templates</a>
        {% endif %}
        {% if is_moderator or is_owner or is_member %}
            <a href="{% url 'community_templates_list' community.id %}" class="btn btn-primary">New post</a>
        {% if templates %}
            <select class="form-select mt-3" id="advanced_search" aria-label="Select a template">
                <option value="none_selected" selected>Select a template for advanced search</option>
                {% for template in templates %}
                <option data-url="{% url 'community_template_search' community.id template.id %}" value="{{ template.id }}">{{ template.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% else %}
            <a href="#" id="join" class="btn btn-primary">Join</a>
        {% endif %}
  </div>
    </div>
    <div class="list-group">
    {% for post in posts %}
  <a href="{% url 'postdetail' community.id post.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
      <small>{{ post.date_created }}</small>
    </div>
      <div class="d-flex w-100 justify-content-between">
    <small>by <mark>{{ post.author.username }}</mark></small>
    <small><i class="bi-eye"></i> {{ post.view_count }}</small>
      </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
{% block additional_scripts %}
    <script>
    $('select[id="advanced_search"]').change(function(){

    if ($(this).val() == "none_selected"){

     }
    else {
        window.location.replace($(this).find(':selected').attr('data-url'));
    }
    });
    function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
    $('#join').click(function(e) {
        if (confirm('Do you want to join this community?')) {
            $.ajax({
  url: "{% url 'join-community' %}",
  type: "POST",
  dataType: "json",
  data: JSON.stringify({payload: {commid: "{{ community.id }}"},}),
  headers: {
    "X-Requested-With": "XMLHttpRequest",
    "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
  },
  success: (data) => {
    console.log(data);
    window.location.replace("{% url 'community_detail' community.id %}");
  },
  error: (error) => {
    console.log(error);
    alert(error.responseJSON.error);
  }
});
        }
        e.preventDefault();
    });
    </script>
{% endblock %}