{% extends 'community/base.html' %}
{% block title %}{{ community.name }}{% endblock %}

{% block content %}
    <div class="card">
  <h5 class="card-header">{{ community.name }}</h5>
  <div class="card-body">
    <p class="card-text">{{ community.description }}</p>
      {% if is_moderator or is_owner %}
    <a href="{% url 'community_templates_list' community.id %}" class="btn btn-primary">Templates</a>
      {% endif %}
  </div>
</div>
    <div class="list-group">
    {% for post in posts %}
  <a href="{% url 'postdetail' community.id post.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
      <small>{{ post.date_created }}</small>
    </div>
    <small>{{ post.author.username }}</small>
  </a>
  {% endfor %}
</div>
{% endblock %}