{% extends "community/base.html" %}
{% block title %}New Template for {{ community.name }}{% endblock %}
{% block additional_styles %}
    <style>
    .ghost {
        opacity: 0.4;
    }
    .list-group {
        margin: 20px;
    }
    #submit {
        margin: 40px 20px;
        float: right;
    }
    </style>
{% endblock %}
{% block content %}
    <form method="post">
          {% csrf_token %}
            <legend><span class="col-sm-offset-1">New template</span></legend>
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                    {% endif %}
                    {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}
    </form>
    <div class="row">
    <div class="col">
        <h5>Availabe fields</h5>
        <div id="items-1" class="list-group col">
            <div data-id="text" class="list-group-item nested-1"><b><i>Text</i></b></div>
            <div data-id="textarea" class="list-group-item nested-1"><b><i>Text Area</i></b></div>
            <div data-id="integer" class="list-group-item nested-1"><b><i>Integer</i></b></div>
            <div data-id="float" class="list-group-item nested-1"><b><i>Float</i></b></div>
            <div data-id="boolean" class="list-group-item nested-1"><b><i>True / False</i></b></div>
            <div data-id="date" class="list-group-item nested-1"><b><i>Date</i></b></div>
            <div data-id="datetime" class="list-group-item nested-1"><b><i>Datetime</i></b></div>
            <div data-id="file" class="list-group-item nested-1"><b><i>File</i></b></div>
            <div data-id="image" class="list-group-item nested-1"><b><i>Image</i></b></div>
            <div data-id="geolocation" class="list-group-item nested-1"><b><i>Geolocation</i></b></div>
        </div>
    </div>
    <div class="col">
        <h5>Place the needed fields to this space</h5>
        <div id="items-2" class="list-group col" style="min-height: 100px">
        </div>
    </div>
  </div>
  <button id="submit" class="btn btn-primary">Submit</button>
{% endblock %}
{% block additional_scripts %}
    <script>
    function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

// List 1
$('#items-1').sortable({
    group: {
        name: 'list',
        pull: 'clone',
        put: 'false'
    },
    sort: false,
    animation: 200,
    ghostClass: 'ghost',
    onRemove: function (/**Event*/evt) {
        var origEl = evt.item;
        var cloneEl = evt.clone;
        $( "<a href='#' class='remove_field'>Remove</a><br/><label>Label:</label><input type='text' class='label'><br><label>Required:</label><input type='checkbox' class='chkbx'><br>" ).prependTo(origEl);

    }
});

// List 2
$('#items-2').sortable({
    group: 'list',
    animation: 200,
    ghostClass: 'ghost',
});

// Arrays of "data-id"
$('#submit').click(function(e) {
    var template_name = $('#id_name').val();
    if (!template_name || template_name.length < 5){
        alert("You need to enter a valid template name (min. 5 characters)");
        return false;
    }
    var sort2 = $('#items-2').sortable('toArray');
    if (!sort2.length) {
        alert('You need at least one field to create a template');
        return false;
    }
    var values = [];
    var reqs = [];
    $('div[id="items-2"]>div[data-id] > input[class="label"]').each(function( index ) {
        values.push($(this).val());
    });
    $('div[id="items-2"]>div[data-id] > input[class="chkbx"]').each(function( index ) {
        reqs.push($(this).is(":checked"));
    });
    var all_labels_valid = true;
   $.each(values, function (index, item) {
        if (!item.length) {
            alert('You need to fill all Label names for your fields');
            all_labels_valid = false;
            return false;
        }
    });
    if (!all_labels_valid) {
        return false;
    }
    console.log(sort2);
    console.log(template_name);
    console.log(values);
    console.log(reqs);
    var all_data = {"values": values, "reqs": reqs, "theorder": sort2, "template_name": template_name}
    $.ajax({
  url: "{% url 'community_templates_create' community.id %}",
  type: "POST",
  dataType: "json",
  data: JSON.stringify({payload: all_data,}),
  headers: {
    "X-Requested-With": "XMLHttpRequest",
    "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
  },
  success: (data) => {
    console.log(data);
    window.location.replace("{% url 'community_templates_list' community.id %}");
  },
  error: (error) => {
    console.log(error);
    alert(error.responseJSON.error);
  }
});
    e.preventDefault();
});

$(document).on('click', 'div a.remove_field', function (e) {
    $(this).closest('div').remove();
    e.preventDefault();
});
  </script>
{% endblock %}